body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 20px;
}

span{
    margin-left: 20px;

}

.input{

    width: 200px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.button{

    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.round-corners{

    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

.fl-right{

    float: right;
}

.center-content {

    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fade from black to white */
.btw { 

    animation-duration: 1s;
    animation-name: btw;
}

/* Fade from white to black */
.wtb {

    animation-duration: 1s;
    animation-name: wtb;
}

@keyframes btw {
    0% {
        color: black
    }
    100% {
        color: white
    }
}

@keyframes wtb {
    0% {
        color: white
    }
    100% {
        color: black
    }
}