body {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{

    width: 275px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

h1{

    height: 15%;
    margin-top: 0;
    margin-bottom: 4%;    
    width: 100%;
    text-align: right;
}

span{

    height: 80%;
    width: 20%;
    font-size: 32pt;
    text-align: center;
    margin: 0 0;
}

#boxes{

    height: 80%;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}   

.input{

    width: 100%;
    height: 30%;
    margin-bottom: 10%;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.button{

    width: 50px;
    height: 30%;
    margin-left: 20px;
    margin-bottom: 22%;
}

.round-corners{

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    color: rgb(255, 255, 255);
}

.unclickable{

    background-color: silver !important;
}

/* Fade from black to white */
.btw { 

    animation-duration: 1s;
    animation-name: btw;
}

/* Fade from white to black */
.wtb {

    animation-duration: 1s;
    animation-name: wtb;
}

.bg-btw{

    animation-duration: 1s;
    animation-name: bg-btw;
}

.bg-wtb{

    animation-duration: 1s;
    animation-name: bg-wtb;
}

@keyframes btw {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

@keyframes wtb {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

@keyframes bg-btw {
    0% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}

@keyframes bg-wtb {
    0% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}